<% @contacts.each do |contact| %>
  <h4><a href="/output/<%= contact.last_name %>"><%= contact.first_name %> <%= contact.last_name %></a></h4>
<% end %>

<h1>Add your contact information.</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="first_name">First name:</label>
    <input id="first" name="first_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="last_name">Last name:</label>
    <input id="last" name="last_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="company">Company name:</label>
    <input id="company" name="company_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="job_title">Job title:</label>
    <input id="job" name="job_title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="contact_type">Contact type:</label>
    <br>
    <input type="radio" name="contact_type" value="Business" id="b"> Business<br>
    <input type="radio" name="contact_type" value="Personal" id="p"> Personal
  </div>
  <button type="submit" class="btn btn-success">Add!</button>
</form>
